<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB DESIGN IS MY PASSION</title>
</head>
<body style="text-align:center; background-image: url({% static 'assets/FotoBackgroundNew.jpg' %}">
    <img src="{% static 'assets/FotoProfil.jpg' %}" width="200" height="200"/>
    <h1>Hello my name is Muhammad Tsaqif Al Bari</h1>
    <p>Student in Fakultas Ilmu Komputer Universitas Indonesia</p>
    <p>NPM : 1806235731</p>
    <p>Hobby: Membaca dan mendengarkan musik</p>
    <p>Quick greeting, Hello! Welcome to my website!<br>
    Quick description, This is my first attempt in web design so please bear with me on this page.<br>
    A bit about me I'm a student in Fakultas Ilmu Komputer UI.<br>I'm 19 years old, so I'm always in a state of perpetual sleep deprivation.<br>
    Good talk, well cya!</p>
</body>
</html>
